@media screen and (min-width: 768px) {
    .padding-r-0 {
        padding-right: 2.5px !important;
    }

    .padding-l-0 {
        padding-left: 2.5px !important;
    }
}

@media screen and (max-width: 768px) {
    .margin-b-sm-1 {
        margin-bottom: 5px !important;
    }
}

.margin-b-1 {
    margin-bottom: 5px !important;
}